<ion-header>
  <ion-navbar>
    <ion-title>
      My Coach
    </ion-title>
  <ion-buttons (click)="addPressed()" end>
      <button ion-button icon-only>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
<ion-list *ngIf="coaches">
  <ion-card *ngFor="let coach of coaches">
<ion-card-title>
  {{coach.name}}
</ion-card-title>
  <img src="{{coach.picURL}}">

  <ion-card-content>
    <p>{{coach.description}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card> 
</ion-list>
</ion-content>
